!*.*
.vscode/settings.json
.vscode
*.out

*.txt

01-atividade/diary.md

*.o

03-atividade/diary.md

*.config

03-atividade/03-atividade.zip
13-aula/banco

aula-13/banco

atividade-03/03-atividade.zip
